li {
    list-style-type: none;
    padding: 0px 15px;
    text-align: center;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }

  h2{
    text-align: center;
  }




body {
    background-color: rgb(245, 237, 237);
    display: flex;
    justify-content: center;
}

.container{
width: 1280px;
height: 100%;
background-color: rgb(99, 102, 141);
}

/*стили для header */

.head-nav{
display: flex;
justify-content: space-between;  
background-color: beige; 
}

.navJunior{
    font-size: 20px;
    font-weight:900;
}

.navPanel{
    display: flex;
    font-size: 20px;
    font-weight:500;
}

.MyImg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img{
    border-radius:50%;
    width: 400px;
    height: 400px;
}

.myName{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*стили для header */

/*стили для main */

.mainContainer2{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.mainMyCode{
    margin-top: 50px;
}


pre{
    background-color: antiquewhite;
    margin-top: 30px;
    margin-left: 300px;
    width:700px ;
}

.myInformation{
    margin-top: 70px; 
}

/*стили для main */

/*стили для footer */

.footer{
    background-color: beige; 
    height: 70px;
}




